/* Center the calculator on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    border: 2px solid #000;
    border-radius: 3%;
}
